<div class="col-9 pt-1 pb-4 col-md-6">
  <img src="assets/img/contacto.png" alt="Logo" class="logo img-fluid mt-2" />
</div>


<div class="container ">
  <div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col mb-1">
      <div class="card">
        <img [src]="img1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¡Buscamos tú Música!</h5>
          <p class="card-text">¿Eres un apasionado músico o artista en ascenso? ¡Esta es tu oportunidad de brillar! En
            <b>KyclopsRadio</b>, ofrecemos un espacio exclusivo para promocionar tu música, eventos, prensa, lanzamientos.
                        <b>Conéctate</b> con tu audiencia y hazte escuchar en todo el mundo.</p>
        </div>
        <div class=" p-0 text-center">
          <button (click)="fban()" class="button type1"><b>Emisora</b></button>
        </div>
      </div>
    </div>
    <div class="col mb-1">
      <div class="card">
        <img [src]="img2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¡Promociona tu Evento!</h5>
          <p class="card-text"><b>¿Eres una organización o empresa en busca de visibilidad?</b> ¡Tenemos la plataforma perfecta
            para ti! Anuncia tus productos, servicios, eventos y más en nuestra frecuencia en vivo <b>24/7</b>. Llega a
            una audiencia diversa y conecta con clientes potenciales.</p>
        </div>
        <div class="p-0 text-center">
          <button (click)="fpub()" class="button type3"><b>Contacto</b></button>
        </div>
      </div>
    </div>


  </div>
</div>
