<mdb-accordion [borderless]="false">
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Artistas independientes</ng-template>
    <ng-template mdbAccordionItemBody>

     <a href=""> <code>conecta con kyclops</code></a> tenemos un lugar donde se puede decir de todo.
    </ng-template>
  </mdb-accordion-item>
    <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Nuevos socios</ng-template>
    <ng-template mdbAccordionItemBody>
      <a href=""> <code>conecta con kyclops</code></a> radio, coberturas, prensa independiente, podcast  y mucho ruido.
          </ng-template>
  </mdb-accordion-item>
</mdb-accordion>

