
@keyframes trabajandoAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.row {
  animation: trabajandoAnimation 2s infinite; /* Duración de la animación y repetición infinita */
}
