<div  id="carousel" class="mt-3">
  <ngx-slick-carousel class="corousel"
  #slickModal="slick-carousel"
  [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
     <img src="{{slide.img}}" alt="" class="img-style">
  </div>
</ngx-slick-carousel>
</div>
<div  id="carousel" class="mt-3">
  <ngx-slick-carousel class="corousel"
  #slickModal="slick-carousel"
  [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides2" class="slide">
     <img src="{{slide.img}}" alt="" class="img-style">
  </div>
</ngx-slick-carousel>
</div>
