<div class="row text-center shadow bg-light bg-gradient ">
  <div class="col-8 offset-2">

    <img src="assets/img/logo-kyclops 4.png" alt="Logo" class="logo img-fluid pt-2" />
  </div>
</div>

<div class="container shadow bg-light bg-gradient ">
  <div #abaut class="col">
    <p class="p-1">
      <b>Kyclops Radio</b> es un medio de comunicación y producción de contenido. Nuestro contenido es completamente original y
      está disponible en formato <b>podcast y livestreaming</b> a través de nuestro sitio web, aplicación para dispositivos
      móviles y diversas redes sociales de forma completamente gratuita.
      Funcionamos como una asociación independiente, autogestiva, libre y autónoma. Tenemos el objetivo de entretener,
      informar, diversificar y descentralizar los medios de comunicación. Proponemos una alternativa fresca y auténtica
      para el desarrollo contra-cultural de nuestro público.
      <div class="jumbotron text-center">
        <div class="view overlay my-1">
          <img src="https://images.unsplash.com/photo-1567598125860-7201ff8c9e6f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
          class="img-fluid" alt="">
        </div>
      </div>

      <h3 class="text-center">Somos una estación virtual</h3> <p class="p-1">Lo que nos permite tener presencia distintas partes del país de forma
      simultanea y presentar las propuestas artísticas que coexisten en el ecosistema nacional. Esto es posible gracias
      a un equipo formado por profesionales en múltiples disciplinas y la colaboración con artistas afines.
      Nuestro principal sustento radica en donaciones de nuestro público. También brindamos servicios profesionales
      relacionados a la producción de contenido y publicidad. Por último, trabajamos con marcas afines que no atenten
      contra nuestra libertad creativa y objetivos con lo que consideramos más importante: nuestra
      audiencia y sus derechos.
    </p>
    <div class="jumbotron text-center">
      <div class="view overlay my-1">
        <img src="https://plus.unsplash.com/premium_photo-1682125370454-3c6587f3a224?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        class="img-fluid" alt="">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <h2 class="indigo-text h5 mt-0">Conecta con Kyclops</h2>
    </div>

  </div>

</div>
<!-- <div class="row text-center">
  <div class="mb-2">
    <div class="card text-white bg-dark" style="max-width: 20rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of
          the panel's content.</p>
      </div>
    </div>
  </div>
  <div class="mb-2">
    <div class="card text-white bg-dark" style="max-width: 20rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of
          the panel's content.</p>
      </div>
    </div>
  </div>
  <div class="">
    <div class="card text-white bg-dark" style="max-width: 20rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of
          the panel's content.</p>
      </div>
    </div>
  </div>
</div> -->
