<section class=" container-fluid repro">
  <div class="row">
    <!-- IMAGEN CANCION -->
    <div class=" col-3 foto-de-cancion">
      <div class="foto-container">
          <img src="assets/img/LaCueva1000.png" alt="" class="banda-img">
      </div>
  </div>
    <!-- INFO TEXT -->
    <div class=" col-6 song__info">
      <h5 class="titulo-Cancion">Bailamela suavecito</h5>
      <h6 class="Nombre-Cancion">-El poderoso pipope</h6>
    </div>

<!-- BOTONES -->
<div class=" col-3 botonesde-reproductor">
  <div class="botones">
    <div class="bocina me-4" id="play" onclick="togglePlay()">
        <img src="assets/img/VolumenHigh.png" alt="">
    </div>
      <div class="play me-3" id="play" onclick="togglePlay()">
          <img src="assets/img/PlayOn.png" alt="">
      </div>
      <!-- <div class="circle volume" id="volume" onclick="toggleVolume()">
          <img src="assets/img/VolumenHigh.png" alt="">
      </div> -->
  </div>
</div>
</div>
</section>





<!-- <div class="circle heart" id="heart" onclick="toggleLike()">
          <img src="assets/img/OffHeart.png" alt="">
      </div> -->

  <!-- <div>
      <div class="barra-sonido">
          <div class="triangulo"></div>
          <div class="punto-control"></div>
      </div>

  </div> -->


