<div id="card_Contacto" class=" card card-image">
  <div class="overlay"></div>
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-4 px-4 position-relative">
    <div class="row">
      <i class="fa-solid fa-eye" style="color: #e90325;"></i>
      <h5 class="pink-text">
        Kyclops Radio</h5>
      <p>Kyclops Radio es una organización fundada por la necesidad de diversificar los medios de comunicación. Un
        espacio dedicado a la experiencia y experimentación artística, cultural y social a través de una plataforma de
        radio en línea.</p>
      <div class="col ">
        <a class="btn px-4 hover-effect" style="background-color: #fdfdfd;" [href]="discord" target="_blank" role="button" mdbRipple (click)="rotateIcon()">
          <i  [ngClass]="{'i': true, 'fa-brands': true, 'fa-discord': true, 'rotate': rotating}" style="color: #1c67e9;"></i>
        </a>
      </div>
    </div>
  </div>
</div>

