<div class="mb-2" style="height: 85px"></div>
<div class="container game-container">
  <div>
    <h1>KyclopsRadio</h1>
</div>
<div>
    <h2>Transform translate</h2>
    <p></p>
    <section class="repodictor">
        <div class="foto-de-cancion">
            <div class="foto-container">
                <img src="assets/img/LaCueva1000.png" alt="" class="banda-img">
            </div>
        </div>
        <div class="Descricion-Cancion">
            <p class="titulo-Cancion">Titulo</p>
            <p class="Nombre-Cancion">Descripción</p>
        </div>
        <div>
            <!-- Barra de sonido -->
            <div class="barra-sonido">
                <div class="triangulo"></div> <!-- Elemento para el triángulo -->
                <div class="punto-control"></div> <!-- Punto de control transparente -->
            </div>
            <div class="botonesde-reproductor">
                <div class="botones">
                    <!-- Botón de "Me gusta" (corazón) -->
                    <div class="circle heart" id="heart" onclick="toggleLike()">
                        <img src="assets/img/OffHeart.png" alt="">
                    </div>
                    <!-- Botón de reproducción/pausa -->
                    <div class="circle play" id="play" onclick="togglePlay()">
                        <img src="assets/img/PlayOn.png" alt="">
                    </div>
                    <!-- Botón de volumen -->
                    <div class="circle volume" id="volume" onclick="toggleVolume()">
                        <img src="assets/img/VolumenHigh.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
</div>
