<div id="podcast" class="ms-1 mt-2 d-flex col-9 col-md-6">
  <img style="cursor: pointer;" src="assets/img/kyclopsH.png" alt="Logo" class=" img-fluid mt-1" />
</div>

<!-- NEW MENU -->

<!-- PROGRAMAS -->
<div  style="height: 25px;"></div>
<app-car-programas></app-car-programas>

<!-- ARTISTAS -->
<div style="height: 25px;"></div>
<app-home-artistas></app-home-artistas>

<!-- EVENTOS -->
<div style="height: 25px;"></div>
<app-home-eventos></app-home-eventos>

<!-- LUGARES -->
<div style="height: 25px;"></div>
<app-home-lugares></app-home-lugares>

<!-- NAV FOOTER -->
<div style="height: 80px;"></div>
<app-home-footer></app-home-footer>


<!-- <app-bandas></app-bandas>
<app-cards></app-cards>
<app-card-form></app-card-form> -->
